@media screen and (max-height : 565px) {
    .wr-intro {
        padding-top: 20px;

        .intro {
            margin-top: 50px;
        }
    }
}
@media screen and (min-width : 1200px) {
    .projects__item {
        height: 241px;
    }
}
@media screen and (max-width : 1198px) {
    .wr-services {
        .services {
            &__owner {
                display: none;
            }
            &__list {
                justify-content: space-between;
            }
            &__item {
                padding: 20px 0;
                margin: 5px;
                width: 30%;
                flex-grow: 1;
            }
        }
    }
}
@media screen and (max-width : 960px) {
    .projects__item {
        height: 200px;
        &:active .projects__img {
            transform: scale(1);  
        }
    }
}

@media screen and (max-width : 600px) {
    .wr-services {
        .services {
            &__list {
                flex-direction: row;
            }
            &__item {
                padding: 20px 0;
                margin: 5px;
                width: 90%;
                flex-grow: 1;
            }
            &__title {
                font-size: 11px;
                margin-top: 10px;
            }
            &__img {
                height: 21px;
            }
        }
    }
}